<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
       <a routerLink="/" class="navbar-brand" href="https://cssgradientstore.vercel.app/"><img src="./assets/image/logo.webp" width="200px" height="61px" alt="Logo"/></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" [routerLinkActive]="['active']">About Us</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/contact" [routerLinkActive]="['active']">Contact Us</a>
            </li>
          </ul>
          <div class="d-flex ms-auto">
             <a href="https://www.buymeacoffee.com/kavarony"><img src="./assets/image/bmc-button.webp" width="200px" height="56px" alt="BMC Logo"/></a>
          </div>
       </div>
    </div>
 </nav>