<footer class="py-3 border-top bg-light footermainsection">
<div class="container d-flex flex-lg-row flex-column flex-wrap justify-content-between align-items-center">
  <p class="col-md-4 mb-0 fiord">&copy; 2023 CSS Gradient Store</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center my-lg-0 my-3 link-dark text-decoration-none">
    <img src="./assets/image/logo.webp" alt="Website Logo" width="150px" height="46px">
  </a>

  <ul class="nav col-md-4 justify-content-end d-flex flex-column align-items-lg-end align-items-start">
    <li class="nav-item"><a routerLink="/home" [routerLinkActive]="['active']" class="nav-link px-2 fiord">Home</a></li>
    <li class="nav-item"><a routerLink="/color-contrast-checker" [routerLinkActive]="['active']" class="nav-link px-2 fiord">Color Contrast Checker</a></li>
    <li class="nav-item"><a routerLink="/about" [routerLinkActive]="['active']" class="nav-link px-2 fiord">Our Story</a></li>
    <li class="nav-item"><a routerLink="/contact" [routerLinkActive]="['active']" class="nav-link px-2 fiord">Connect With Us</a></li>
  </ul>
</div>
</footer>