<footer class="py-3 border-top bg-light d-none d-lg-block footermainsection">
<div class="container d-flex flex-wrap justify-content-between align-items-center">
  <p class="col-md-4 mb-0 text-muted">&copy; 2021 Css Gradient Store</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img src="./assets/image/logo.webp" width="150px" height="46px">
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a routerLink="/home" [routerLinkActive]="['active']" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a routerLink="/about" [routerLinkActive]="['active']" class="nav-link px-2 text-muted">About US</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
  </ul>
</div>
</footer>