<app-header></app-header>
<div class="container-fluid contactsectioncontainer">
    <section class="d-flex flex-lg-row flex-column my-5 py-lg-5 py-2">
        <div class="container">
            <div class="col-lg-9 px-lg-5 px-3 mx-auto py-lg-5 py-3 bg-white mb-lg-5 mb-2 rounded">
                <h1 class="mb-4 fw-bold">Contact Us</h1>
                <p class="text-start">We're thrilled to offer our free CSS Gradient Store Tool to the designer community, students, and colleagues! If you have any questions, comments, or suggestions for our website, we'd love to hear from you.</p>
                <p class="text-start">You can reach us by email at <a href="mailto:kavarony@gmail.com">kavarony@gmail.com</a>, or by filling out the form below. We'll do our best to respond to your inquiry within 24 hours.</p>
                <p class="text-start">If you're experiencing any technical difficulties with the tool, please provide as much detail as possible about the issue you're facing, including any error messages you've received. We'll do our best to help you troubleshoot the problem.</p>
                <p class="text-start">If you have any suggestions for how we can improve the tool or the website, we're always open to feedback. Your input is valuable to us, and we'll take it into consideration as we continue to develop and enhance the tool.</p>
                <p class="text-start">Thank you for using our CSS Gradient Store Tool, and we look forward to hearing from you!</p>
                <p><a href="https://www.buymeacoffee.com/kavarony"><img src="./assets/image/bmc-button.webp" width="200px" height="56px" alt="BMC Logo"/></a></p>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>