<app-header></app-header>
<div class="container-fluid contactsectioncontainer">
    <section class="d-flex flex-lg-row flex-column my-5 py-lg-5 py-2">
        <div class="container">
            <div class="col-lg-9 px-lg-5 px-3 mx-auto py-lg-5 py-3 bg-white mb-lg-5 mb-2 rounded">
                <h1 class="mb-4 fw-bold">Contact Us</h1>
                <p class="text-start">We're always happy to hear from our customers! If you have any questions, comments, or feedback about our products, please don't hesitate to get in touch.</p>
                <p class="text-start">You can reach us by email at <a href="mailto:kavarony@gmail.com">kavarony@gmail.com</a>, or by filling out the form below. We'll do our best to respond to your inquiry within 24 hours.</p>
                <p class="text-start">If you need help with an order, please include your order number and any relevant details in your message. We'll get back to you as soon as we can.</p>
                <p class="text-start">Thank you for visiting our store, and we look forward to hearing from you!</p>
                <p><a href="https://www.buymeacoffee.com/kavarony"><img src="./assets/image/bmc-button.webp" width="200px" height="56px" alt="BMC Logo"/></a></p>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>